/* PERSONALITY----
*****************01******TYPOGRPAHY
font sizes(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

----------USED --------
FONT-FAMILY:
-------------------
FONT-SIZE:
--------------------
FONT-WEIGHT:
DEFAULT :400
medium500
semi-bold 600
bold 700
-------------------
line-height:
default: 1;
small 1.05
medium: 1.2
paragraph  1.6
large 1.8
-------------------
letter-spacing:
0.5px
0.75px
-------------------

-------------------
*****************02*******COLOR
_____main: 
  tints:
-------------------
  shades:
-------------------
  accents:
-------------------
   grey: 
-------------------


*****************03*************IMAGE
-------------------


*****************05**************SHADOW
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

*****************05**************BORDER-RADIUS
default:9px
11px

*****************06**************SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px divided by 16px = 0.625 = 62.5% */
  /* percentage for user's brower font-size  setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* dosent work on safari */
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #6b6b6b;
  /* only work if there is nothing absolutely positioned in relative to body */
  overflow-x: hidden;
}
/* ******************************* */
/* GENERAL REUSABLE COMPONENT */
/* ******************************* */
.link:link,
.link:visited {
  padding: 1.3rem 1.6rem;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 3px;
}
.link:hover,
.link:active {
  border: 1px solid currentColor;
  padding: 1.2rem 1.5rem;
}
.cta:link,
.cta:visited {
  background-color: #ee7c0d;
  color: #000;
  font-weight: bolder;
}
.cta:hover,
.cta:active {
  border: none;
  padding: 1.3rem 1.6rem;
  box-shadow:  0 0 1px 1px #6b6b6b ;
}
