/* PERSONALITY----
*****************01******TYPOGRPAHY
font sizes(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

----------USED --------
FONT-FAMILY:
-------------------
FONT-SIZE:
--------------------
FONT-WEIGHT:
DEFAULT :400
medium500
semi-bold 600
bold 700
-------------------
line-height:
default: 1;
small 1.05
medium: 1.2
paragraph  1.6
large 1.8
-------------------
letter-spacing:
0.5px
0.75px
-------------------

-------------------
*****************02*******COLOR
_____main: 
  tints:#3078af
  #856af3
  #f0eefc
  #28148f
-------------------
  shades:
-------------------
  accents:
-------------------
   grey: 
-------------------


*****************03*************IMAGE
-------------------


*****************05**************SHADOW
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

*****************05**************BORDER-RADIUS
default:9px
11px

*****************06**************SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

}
*:focus{
  outline: none;
  box-shadow: 0 0 1px 2px #8a6cff;

}
html {
  /* font-size: 10px; */
  /* 10px divided by 16px = 0.625 = 62.5% */
  /* percentage for user's brower font-size  setting */
  font-size: 62.5%;
  /* overflow-x: hidden; */

  /* dosent work on safari */
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* only work if there is nothing absolutely positioned in relative to body */
  /* overflow-x: hidden; */
  height: 100%;
  color: #222;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background-color: #e9e9e9;
}
button{
  cursor: pointer !important;
 
}
button:hover{
  box-shadow: 0 0 1px 1px #8a6cff;
}
.btn {
  color: #ddd;
  background-color: #4a398e;
  padding: 1.2rem;
  width: 90%;
  border-radius: 20rem;
  border: none;
}
.w-btn {
  padding: 0.8rem;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: #4a398e ;
  height: fit-content;

  font-weight: 700;
}

.jobs-icons {
  width: 2.4rem;
}
.profile-img{
  width: 4rem;
  display: flex;
  align-items: flex-end;
}
.s-heart{
  background-color: #fff;
  border: none;
  padding: 0;
}
.apply-btn{
  /* color: #ddd; */
  background-color: #fff;
  color: #4a398e;
  font-weight: bolder;
  /* padding: 1.2rem; */
  padding: 0.8rem 4.2rem;
  border-radius: 20rem;
  border: 1px solid #4a398e;
}
.apply-btn:hover{
  background-color: #4a398e;
  color: #fff;
}
/* ******************************* */
/* GENERAL REUSABLE COMPONENT */
/* ******************************* */
